@model PinterestApplication.Models.Post

@{
    ViewData["Title"] = "Edit Post";
}

<style>
    body {
        background-color: #FFCCE1;
    }

    .custom-button {
        background-color: #BD0071;
        border-color: #BD0071;
        color: white;
    }

        .custom-button:hover {
            background-color: #ED3B9D;
            border-color: #ED3B9D;
        }

    .form-group label {
        color: #BD0071;
        font-weight: bold;
    }

    .form-group input, .form-group select, .form-group textarea {
        border-color: #BD0071;
    }

    .bi {
        color: #BD0071;
    }

    .card {
        background-color: white;
        border: 1px solid #BD0071;
        border-radius: 5px;
        padding: 20px;
        margin: 20px;
    }

    .text-center {
        text-align: center;
    }

    .d-flex {
        display: flex;
    }

    .justify-content-between {
        justify-content: space-between;
    }
</style>

<h2 class="text-center mt-5 custom-header">Edit Post</h2>

<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <form asp-action="Edit" method="post" enctype="multipart/form-data">
                    @Html.HiddenFor(m => m.Id)

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label>Select a category</label>
                        @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.Categories, "Value", "Text"),
                                 "Select a category", new { @class = "form-control" })
                    </div>

                    <div class="text-center form-group">
                        <button type="submit" class="btn btn-primary custom-button">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
