@{
    ViewBag.Title = "Category list";
}

<style>
    .btn-success {
        background-color: #ED3B9D;
        border-color: #ED3B9D;
        color: white;
        transition: background-color 0.3s ease-in-out;
    }

        .btn-success:hover {
            background-color: #BD0071;
            border-color: #BD0071;
        }
</style>
<br />
<h2 class="text-center">@ViewBag.Title</h2>
<br />

@if (User.IsInRole("Admin"))
{
    <div class="align-items-center justify-content-center d-flex">
        <a class="btn btn-success"  href="/Categories/New">Add a new category</a>

    </div>
}
<br />


@foreach (var category in ViewBag.Categories)
{

    <h4>@category.Name</h4>
    <div class="d-flex align-items-center gap-2">
    <a class="btn btn-success" href="/Categories/Show/@category.Id">Show category</a>

    @if (User.IsInRole("Admin"))
    {
        
        <a class="btn btn-success" href="/Categories/Edit/@category.Id">Edit category</a>
        

        <form method="post" action="/Categories/Delete/@category.Id">

            <button class="btn btn-danger" style="background-color: #bd081c" type="submit">Delete category</button>

        </form>

        <br />
    }
    </div>

    <br />
    <hr />
    <br />
}
<br />