@if (User.IsInRole("Admin, User"))
{
    <div class="align-items-center justify-content-center d-flex">
        <a class="btn btn-success" style="background-color: #bd081c" href="/Categories/New">Adauga o noua categorie</a>

    </div>
}
<br />