@model PinterestApplication.Models.Category
@{
    
}
<br />


<div class="row">

    <div class="col-12">
        <h5 class="card-title" name="Name" sstyle="color: white">@Model.Name</h5>
    
        
        <br /><br />
    </div>

   @if (Model.Posts.Count > 0)
{
        @foreach (var post in Model.Posts)
        {
            <div class="col-3 mb-4">
                <div class="card" style="width:100%">

                    @Html.Partial("PostInfo", post)

                  

                </div>
            </div>
        } 
} 

<a class="btn btn-success" href="/Categories/Show">Show category list</a>

<br />
<hr />
<br />